template {
  display: none;
}
.btn-tool {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.colorfield .form-control {
  width: 60px;
  padding: 2px 5px;
  float: left;
}
.colorfield .btn {
  margin-left: 5px;
  float: left;
}
.checkbox .checker,
.radio .checker {
  width: 24px;
  height: 28px;
  float: left;
  font-size: 22px;
  position: relative;
  color: #cccccc;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.checkbox .label-text,
.radio .label-text {
  float: left;
  line-height: 2;
}
.checkbox input,
.radio input {
  position: absolute;
  opacity: 0;
}
.checkbox.focus .checker,
.radio.focus .checker {
  color: #428bca;
}
.checkbox.checked .checker,
.radio.checked .checker {
  color: #428bca;
}
.checkbox.disabled,
.radio.disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.checkbox.disabled .checker,
.radio.disabled .checker {
  color: #cccccc;
}
.checkboxlist .checkbox-inline {
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 10px;
}
.radiolist .radio-inline {
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 10px;
}
.combo {
  -webkit-transition: border-color ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  cursor: pointer;
}
.combo-value {
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #555555;
  background: #ffffff;
  cursor: pointer;
}
.combo-value i {
  color: #777777;
}
.combo-value.active {
  background: #eeeeee;
}
.combo-value.active i {
  color: #333333;
}
.combo-input {
  position: relative;
  width: 100%;
}
.combo-input-text ul {
  margin: 0px;
  padding: 0px;
}
.combo-input-text li {
  line-height: 13px;
  font-size: 12px;
  list-style: none;
  padding: 3px 20px 3px 5px;
  margin: -1px 3px 3px 0px;
  position: relative;
  display: inline-block;
}
.combo-input-text li i {
  position: absolute;
  right: 4px;
  top: 4px;
}
.combo-input-arrow,
.combo-input-reset {
  position: absolute;
  height: 100%;
  width: 15px;
  top: 0;
  color: #777777;
}
.combo-input-arrow {
  right: 0px;
}
.combo-input-reset {
  right: 20px;
  display: none;
}
.combo-dropdown {
  -webkit-transition: border-color ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  z-index: 100010;
  position: absolute;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  bottom: auto;
}
.combo-dropdown-items {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}
.combo-dropdown-item {
  margin: 0;
  padding: 3px 7px 3px 12px;
  cursor: pointer;
  min-height: 1em;
}
.combo-dropdown-item.active {
  color: #ffffff;
  background-color: #428bca;
}
.combo-dropdown.active {
  border-color: #66afe9;
}
.combo-empty .combo-input-text {
  color: #999999;
}
.combo-open {
  border-radius: 4px 4px 0px 0px;
  border-bottom-color: #ddd !important;
}
.combo.active {
  border-color: #66afe9;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.combo.disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.combo.disabled .combo-value {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.combo.disabled .combo-value i {
  color: #777777;
}
.slider {
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.slider .slider-track {
  height: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: white;
}
.slider .slider-selection {
  width: 0px;
  height: 10px;
  border-radius: 4px;
  background: #eeeeee;
}
.slider .slider-knob {
  position: absolute;
  left: 0px;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #cccccc;
}
.slider .slider-knob:hover,
.slider .slider-knob.active {
  background: #428bca;
  border-color: #357ebd;
}
.slider.disabled {
  opacity: 0.8;
  cursor: text;
}
.slider.disabled .slider-knob:hover,
.slider.disabled .slider-knob.active {
  background: #ffffff;
  border: 1px solid #cccccc;
}
.form-control.has-error {
  border-color: #ebccd1 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #a94442;
}
.form-group .help-block.has-error {
  color: #a94442;
}
.form-group.input-fill input {
  width: 100%;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  margin-bottom: 15px;
  padding-top: 0px;
}
.form-horizontal .radio label,
.form-horizontal .checkbox label {
  padding-left: 0px;
}
.form-horizontal .radio .checker,
.form-horizontal .checkbox .checker {
  margin-left: -4px;
}
.form-horizontal .control-label-required {
  position: absolute;
  right: 0px;
  color: #a94442;
}
.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline {
  margin-left: -15px;
}
.form-inline .form-group {
  padding-right: 5px;
  margin-bottom: 5px;
}
.form-inline .form-group .control-label {
  display: none;
}
.input-group-addon-tooltip {
  background: transparent;
  border: none;
  color: #999;
}
.input-tooltip *:nth-last-child(2) {
  -webkit-border-top-right-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* https://github.com/twbs/bootstrap/issues/9025 */
.input-group-addon:first-child + .input-group-addon:last-child {
  border-left: 1px solid #ccc;
}
.input-group-addon:not(:first-child):not(:last-child) + .input-group-addon:not(:first-child):not(:last-child) {
  border-left: 0;
}
.form-control + .input-group-addon:not(:first-child):not(:last-child) {
  border-left: 0;
}
.input-group-addon:not(:first-child):not(:last-child) + .form-control {
  border-left: 0;
}
/* Tooltips */
.tooltip {
  display: none;
  z-index: 100000;
  margin: 0px !important;
}
.tooltip-inner {
  max-width: 250px;
}
.popover .btn {
  margin-left: 5px;
}
/* Tabs */
@media (min-width: 768px) {
  .tabs-horizontal .nav-tabs {
    border-bottom: 0;
  }
  .tabs-horizontal .nav-tabs > li {
    width: 100%;
  }
  .tabs-horizontal .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    margin-right: 0;
  }
  .tabs-horizontal .nav-tabs > li.active a,
  .tabs-horizontal .nav-tabs > li.active a:hover {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-right-color: #ffffff;
    margin-right: -1px;
    position: relative;
    z-index: 1;
  }
  .tabs-horizontal .tab-content {
    border-left: 1px solid #dddddd;
    margin-left: -31px;
    min-height: 20em;
    position: relative;
    z-index: 0;
  }
}
/* Grids */
.grid {
  width: 100%;
  max-width: 100%;
}
.grid .grid-headers th,
.grid .grid-rows td {
  padding: 8px;
  line-height: 1.42857143;
}
.grid .grid-body {
  margin-bottom: 5px;
}
.grid .grid-rows tr td {
  border-top: 1px solid #dddddd;
}
.grid .grid-rows tr:first-child td {
  border-top: none;
}
.grid .grid-rows tr.grid-row-data:hover td {
  background-color: #f5f5f5;
}
.grid .grid-rows tr.grid-row-data.grid-selected td {
  background-color: #e1edf7;
}
.grid .grid-rows tr.grid-row-group td {
  border-top: none;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: bold;
}
.grid .grid-rows tr td.grid-col-actions {
  padding-top: 2px;
  padding-bottom: 2px;
}
.grid .grid-rows tr td.grid-col-actions .btn {
  margin-left: 5px;
}
.grid .grid-headers tr th {
  border-bottom: 1px solid #dddddd;
}
.grid .checkbox {
  margin-top: -6px;
  margin-bottom: 0px;
}
.grid .checkbox .checker {
  height: 20px;
}
.grid .checkbox label {
  padding-left: 0px;
}
.grid-select-row .grid-rows tr.grid-row-data {
  cursor: pointer;
}
.grid-align-top .grid-headers tr th,
.grid-align-top .grid-rows tr td {
  vertical-align: top;
}
.grid-align-middle .grid-headers tr th,
.grid-align-middle .grid-rows tr td {
  vertical-align: middle;
}
.grid-condensed .grid-headers tr th,
.grid-condensed .grid-rows tr td {
  padding: 5px;
}
.grid-nowrap .grid-rows tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid-popover-submit .btn {
  margin-bottom: 5px;
}
.grid-footer {
  padding-left: 8px;
  padding-right: 8px;
}
.grid-operations {
  float: left;
}
.grid-operations select {
  width: 140px;
  float: left;
  margin-right: 10px;
}
.grid-paginator {
  float: right;
}
.grid-paginator .pagination {
  margin: 0px;
}
.window {
  position: absolute;
  margin-top: 0px;
}
.window-tools {
  float: right;
  opacity: 0.5;
}
.window-tools i {
  float: left;
  cursor: pointer;
  margin-left: 10px;
}
.colorpicker {
  position: relative;
  height: 260px;
}
.colorpicker-map,
.colorpicker-bar,
.colorpicker-utils {
  float: left;
  position: relative;
  text-align: center;
  height: 256px;
}
.colorpicker-map {
  width: 256px;
}
.colorpicker-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 256px;
  height: 256px;
  border: 1px solid #aaa;
  background: url('../img/colorpicker/map.png');
}
.colorpicker-point {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #fff;
}
.colorpicker-bar {
  width: 30px;
  margin: 0px 10px;
}
.colorpicker-bar .bar {
  border: 1px solid #aaa;
  position: absolute;
  top: 0px;
  left: 3px;
  width: 20px;
  height: 256px;
  background: url('../img/colorpicker/bar.png');
}
.colorpicker-preview {
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 5px #ddd;
}
.colorpicker-utils input {
  margin-top: 20px;
  width: 75px;
  text-transform: lowercase;
}
.colorpicker-utils .btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 75px;
}
/* Utils */
.margin-no {
  margin: 0px !important;
}
.screen-off {
  width: 1px !important;
  height: 1px !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}
.screen-mask {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 1000;
}
