/* Grids */
.grid {
	width: 100%;
	max-width: 100%;
	.grid-headers th, .grid-rows td {
		padding: @grid-cell-padding;
		line-height: @grid-line-height;
	}
	.grid-body {
		margin-bottom: 5px;
	}
	.grid-rows {
		tr td {
			border-top: 1px solid @grid-border-color;
		}
		tr:first-child td {
			border-top: none;
		}
		tr.grid-row-data:hover td {
			background-color: @grid-bg-hover;
		}
		tr.grid-row-data.grid-selected td {
			background-color: @grid-bg-selected;
		}
		tr.grid-row-group td {
			border-top: none;
			text-transform: uppercase;
			padding-top: 15px;
			font-weight: bold;
		}
		tr td.grid-col-actions {
			padding-top: @grid-action-cell-padding;
			padding-bottom: @grid-action-cell-padding;
			.btn {
				margin-left: @grid-action-indent;
			}
		}
	}
	.grid-headers {
		tr th {
			border-bottom: 1px solid @grid-border-color;
		}
	}
	.checkbox {
		margin-top: -6px;
		margin-bottom: 0px;
		.checker {
			height: 20px;
		}
		label {
			padding-left: 0px;
		}
	}
}
.grid-select-row {
	.grid-rows {
		tr.grid-row-data {
			cursor: pointer;
		}
	}
}
.grid-align-top {
	.grid-headers tr th, .grid-rows tr td {
		vertical-align: top;
	}
}
.grid-align-middle {
	.grid-headers tr th, .grid-rows tr td {
		vertical-align: middle;
	}
}
.grid-condensed {
	.grid-headers tr th, .grid-rows tr td {
		padding: @grid-condensed-cell-padding;
	}
}
.grid-nowrap {
	.grid-rows tr td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.grid-popover-submit {
	.btn {
		margin-bottom: @grid-action-indent;
	}
}
.grid-footer {
	padding-left: 8px;
	padding-right: 8px;
}
.grid-operations {
	float: left;
	select {
		width: 140px;
		float: left;
		margin-right: 10px;
	}
}
.grid-paginator {
	float: right;
	.pagination {
		margin: 0px;
	}
}