/* Grids */
.grid {
	width: 100%;
	max-width: 100%;
	.grid-headers th, .grid-rows td {
		padding: @grid-cell-padding;
		line-height: @grid-line-height;
	}
	.grid-body {
		margin-bottom: 5px;
	}
	.grid-rows td {
		border-top: 1px solid @grid-border-color;
	}
	.grid-row-group td {
		border-top: none;
		text-transform: uppercase;
		padding-top: 15px;
		font-weight: bold;
	}
	.checkbox {
		margin-top: -6px;
		margin-bottom: 0px;
		.checker {
			height: 20px;
		}
		label {
			padding-left: 0px;
		}
	}
	td.grid-col-actions {
		padding-top: @grid-cell-padding-action;
		padding-bottom: @grid-cell-padding-action;
	}
}
.grid-align-top {
	.grid-headers th, .grid-rows td {
		vertical-align: top;
	}
}
.grid-align-middle {
	.grid-headers th, .grid-rows td {
		vertical-align: middle;
	}
}
.grid-condensed {
	.grid-headers th, .grid-rows td {
		padding: @grid-cell-padding-condensed;
	}
}
.grid-nowrap {
	.grid-rows {
		td {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
.grid-selected {
	td {
		background-color: @grid-selected-bg;
	}
}
.grid-col-actions {
	.btn {
		margin-left: @grid-action-indent;
	}
}
.grid-popover-submit {
	.btn {
		margin-bottom: @grid-action-indent;
	}
}
.grid-footer {
	padding-left: 8px;
	padding-right: 8px;
}
.grid-operations {
	float: left;
	select {
		width: 140px;
		float: left;
		margin-right: 10px;
	}
}
.grid-paginator {
	float: right;
	.pagination {
		margin: 0px;
	}
}