/* Tabs */
.tabs-horizontal {
	@media (min-width: @screen-sm-min) {
		.nav-tabs {
			border-bottom: 0;
			> li {
				width: 100%;
				> a {
					border: 1px solid transparent;
					border-radius: @border-radius-base 0 0 @border-radius-base;
					margin-right: 0;
				}
			}
			> li.active a, > li.active a:hover {
				background: @nav-tabs-active-link-hover-bg;
				border: 1px solid @nav-tabs-border-color;
				border-right-color: @nav-tabs-active-link-hover-bg;
				margin-right: -1px;
				position: relative;
				z-index: 1;
			}
		}
		.tab-content {
			border-left: 1px solid @nav-tabs-border-color;
			margin-left: -31px;
			min-height: 20em;
			position: relative;
			z-index: 0;
		}
	}
}