//
// inputs
//
@input-disabled-color: #cccccc;
@input-border-radius-sm: 3px;


//
// highlights
//
@highlight-color: @component-active-color;
@highlight-bg: @component-active-bg;


//
// grids
//
@grid-border-color: @table-border-color;
@grid-cell-padding: 8px;
@grid-selected-bg: lighten(@brand-primary, 40%);
@grid-action-indent: 5px;
@grid-line-height: @line-height-base;
@grid-cell-padding-condensed: 5px;
@grid-cell-padding-action: 2px;